<section id="chat">

    <div class="wrapper_large">

            <div class="button_group">
                <button>Quick Chat</button>
                <button>Custom Chat</button>
            </div>

            <div class="messages">
                <div class="row">
                    <div class="message user_message">Hejsan! Hur fan är läget då?</div>
                </div>
                <div class="row">
                    <div class="message friend_message">Haha men jorå, d fan bra azzåe! Självråe?</div>
                </div>
            
            </div>
    
            <div class="form_fields">
                <input type="text" id="chat_message" placeholder="TYPE A MESSAGE" name="chat_message" />
            </div>
            
        </div>

</section>