<section id="custom">

    <div class="wrapper">
        <form>
            <div class="group">
                <label>Love</label>
                <input value="love" type="checkbox" />
            </div>
            <div class="group">
                <label>Friendship</label>
                <input value="friendship" type="checkbox" />
            </div>
            <div class="group">
                <label>Fun</label>
                <input value="fun" type="checkbox" />
            </div>
            <div class="group">
                <label>Nothing</label>
                <input value="nothing" type="checkbox" />
            </div>

            <button>GoGo!</button>
        </form>
    </div>

</section>