<div id="sidebar">
    <nav>
        <a><i class="fas fa-bars"></i></a>
        <div class="right">
            <a><i class="fas fa-user"></i></a>
            <a><i class="fas fa-envelope"></i></a>
            <a><i class="fas fa-ellipsis-v"></i></a>
        </div>
    </nav>

    <div class="new">
        <div>
            <i class="fas fa-comments"></i>
            New conversation
        </div>
    </div>

    <div class="chats">
        <div class="row">
            <div class="avatar">
                <div class="alert">2</div>
            </div>
            <div class="upper">
                <h4>Morgan Oloffson</h4>
                <div>15:00</div>
            </div>
            <div class="lower">
                <div>Tjenare mannen!</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar">
                    <div class="alert">12</div>
            </div>
            <div class="upper">
                <h4>Ola Andersson</h4>
                <div>14:00</div>
            </div>
            <div class="lower">
                <div>Hur gick det till slut då mannen?</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Roger Federer</h4>
                <div>14:20</div>
            </div>
            <div class="lower">
                <div>Lets go out tonight!</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Huawei Alo</h4>
                <div>13:00</div>
            </div>
            <div class="lower">
                <div>Vad sägerurå mannen!</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Perra Lottosson</h4>
                <div>13:37</div>
            </div>
            <div class="lower">
                <div>Jag vet inte ritkigt hur jag ska ta detta...</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Perra Lottosson</h4>
                <div>13:37</div>
            </div>
            <div class="lower">
                <div>Jag vet inte ritkigt hur jag ska ta detta...</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Perra Lottosson</h4>
                <div>13:37</div>
            </div>
            <div class="lower">
                <div>Jag vet inte ritkigt hur jag ska ta detta...</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Perra Lottosson</h4>
                <div>13:37</div>
            </div>
            <div class="lower">
                <div>Jag vet inte ritkigt hur jag ska ta detta...</div>
            </div>
        </div>
        <div class="row">
            <div class="avatar"></div>
            <div class="upper">
                <h4>Perra Lottosson</h4>
                <div>13:37</div>
            </div>
            <div class="lower">
                <div>Jag vet inte ritkigt hur jag ska ta detta...</div>
            </div>
        </div>
    </div>
</div>