section#chat {
    box-sizing: border-box;
    float: right;
    height: 100vh;
    padding: 50px 80px;
    position: relative;
    width: 60%;
}

section#chat a {
    border-radius: 2px;
    color: var(--light-color);
    display: block;
    font-size: 20px;
    font-weight: 700;
    height: 75px;
    margin: 10px auto;
    line-height: 75px;
    text-align: center;
    transition: background 150ms ease-out;
    width: 300px;
}

section#chat a:first-child {
    background-color: var(--secondary-color);
}

section#chat a:last-child {
    background-color: var(--primary-color);
}

section#chat a:hover {
    background-color: #032863;
}

section#chat .row {
    height: 100px;
}

section#chat .button_group {
    /* display: none; */
}

.message {
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 30px;
    width: 48%;
}

.is_typing div {
    background-color: #eee;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
}

.user_message {
    background-color: var(--pink);
    float: left;
}

.friend_message {
    background-color: var(--purple);
    float: right;
}

.form_fields {
    bottom: 30px;
    margin: 0 auto;
    position: fixed;
    right: 80px;
    /* section length - right + section-padding */
    width: calc(60% - 160px);
}

.form_fields button,
input#chat_message {
    font-size: 22px;
}

.form_fields button {
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--light-color);
    float: right;
    padding: 30px;
    width: 15%;
}

input#chat_message {
    background-color: rgba(0,0,0,0.4);
    color: var(--purple);
    padding: 30px;
    right: 0;
    width: 100%;
}